/* Start Variables */
:root {
  --clr-primary-100: hsl(178, 48%, 52%);
  --clr-primary-200: hsl(179, 62%, 43%);
  --clr-primary-500: hsl(71, 73%, 54%);

  --clr-neutral-100: hsl(204, 43%, 93%);
  --clr-neutral-300: hsl(218, 22%, 67%);

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-base: "Karla", sans-serif;

  --p-section-padding: 40px;
}
/* End Variables */
/* Start Global Style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--clr-neutral-100);
  font-family: var(--ff-base);
}
/* End Global Style */
.subscribe {
  width: 635px;
  height: 475px;

  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .col:first-child { */
.subscribe .info {
  padding: 40px;
}
.subscribe .info h1 {
  color: var(--clr-primary-200);
  font-size: 24px;
  font-weight: var(--fw-bold);
  letter-spacing: -0.3px;
}
.subscribe .info h2 {
  color: var(--clr-primary-500);
  font-size: 18px;
  font-weight: var(--fw-bold);
  letter-spacing: -0.225px;

  margin: 24px 0 11px;
  /* margin: 24px 0 10px; */
}
.subscribe .info p {
  color: var(--clr-neutral-300);
  font-weight: var(--fw-regular);
  line-height: 26px;
  letter-spacing: -0.2px;
}

.subscribe .ro {
  display: flex;
  background-color: var(--clr-primary-200);
  color: white;
  border-radius: 0px 0px 8px 8px;
}
.subscribe .ro .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: var(--p-section-padding);
}
.subscribe .ro .col-1 .info-box .title-col-1 {
  font-size: 18px;
  font-weight: var(--fw-bold);
  letter-spacing: -0.225px;
}
.subscribe .ro .col-1 .info-box .price {
  font-weight: var(--fw-regular);
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #95d9d7;
  margin: 22px 0 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.subscribe .ro .col-1 .info-box .price span {
  font-size: 32px;
  font-weight: var(--fw-bold);
  letter-spacing: -0.4px;
  margin-right: 11px;
  color: #fff;
}
.subscribe .ro .col-1 .info-box .details {
  font-weight: var(--fw-regular);
  line-height: 26px;
  letter-spacing: -0.2px;
  margin-bottom: auto;
}
.subscribe .ro .col-1 .button {
  all: unset;

  font-weight: var(--fw-bold);
  letter-spacing: -0.2px;

  background-color: var(--clr-primary-500);
  text-align: center;
  padding: 15px 0;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);

  margin-top: 26px;
}
.subscribe .ro .col-2 {
  flex: 1;
  padding: var(--p-section-padding);
  background-color: var(--clr-primary-100);
  border-radius: 0px 0px 8px 0px;
}
.subscribe .ro .col-2 .title-col-2 {
  font-size: 18px;
  font-weight: var(--fw-bold);
  letter-spacing: -0.225px;

  margin-bottom: 18px;
}
.subscribe .ro .col-2 p {
  font-size: 14px;
  font-weight: var(--fw-regular);
  line-height: 20px;
  letter-spacing: -0.175px;
  color: #d2efee;
}

@media (max-width: 767px) {
  .subscribe {
    width: 311px;
    border-radius: 5px;
  }
  .subscribe .info {
    padding: 28px 24px 32px;
  }
  .subscribe .info h1 {
    font-size: 20px;
    letter-spacing: -0.25px;
  }
  .subscribe .info h2 {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.187px;
    margin-bottom: 15px;
  }
  .subscribe .info p {
    font-size: 14px;
    font-weight: var(--fw-regular);
    letter-spacing: -0.175px;
  }
  .subscribe .ro {
    flex-direction: column;
  }
  .subscribe .ro .col-1 {
    padding: 24px;
  }
  .subscribe .ro .col-1 .info-box .title-col-1 {
    font-size: 18px;
  }
  .subscribe .ro .col-1 .info-box .details {
    font-size: 16px;
    letter-spacing: -0.2px;
  }
  .subscribe .ro .col-2 {
    padding: 24px;
    border-radius: 0px 0px 8px 8px;
  }
}
